header.header
    .slider
        .slider-inner
            -
                var items = [
                        "slide_1",
                        "slide_2",
                        "slide_3"
                    ]
            ul#bxslider.slider__list
                each item in items
                    li(class="slider__item " + item)
                        .slider__item-content
                            +heading-text()
                            a.btn(href="#")
                                | Get started
        include ./_navigation
